<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center">Home</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At debitis deleniti dolorem ea eaque eos reiciendis repudiandae tempora veniam voluptatibus! A distinctio eaque libero optio placeat quam reiciendis veniam, voluptas?
    <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur blanditiis doloremque doloribus excepturi sunt voluptate. Animi cum cupiditate explicabo fugiat hic magnam mollitia nobis nostrum velit. Culpa expedita, incidunt!</span>
    <span>Iure libero repellendus unde! Dicta illo libero, molestiae nam natus quisquam sequi? Alias aliquam, consectetur dolores, error fugit incidunt minus nihil odit quidem reiciendis repellat rerum ut vero vitae, voluptates.</span>
    <span>Commodi corporis debitis molestias natus necessitatibus pariatur voluptates. Adipisci autem commodi delectus dolore esse eveniet, expedita illo ipsum iure iusto minus modi nam pariatur quia repellendus, sit suscipit vel vero!</span>
    <span>Ad aperiam cum earum error excepturi ipsam neque nesciunt, nisi numquam perferendis praesentium quam sint tenetur. Cumque iure non quisquam quo saepe tempora vero? Doloremque iste iure magnam rerum saepe!</span>
    <span>Ad aliquid asperiores doloremque error ex ipsam officia porro, possimus quod rem? Illum, quod repellat! Asperiores aspernatur consequuntur cumque doloremque earum eum facere, impedit officia pariatur saepe sunt temporibus voluptatibus.</span>
</p>

</body>
</html>