div {
    height: 535px;
    width: 300px;
    /*background-color: rgba(255,0,0);*/
    margin: 10px auto 0;
    transition: margin-top 2s ease-in 0.2s;
    box-shadow: 1px 1px 50px black;
    background-image: url("ironnnn.jpeg") ;
    background-size: contain;
}

div:active {
    /*background-color: black;*/
    /*border-radius: 50%;*/

    /*margin-top: 800px;*/

    background-color: #84dbf3;
    transform: rotate(58deg) scale(1.5) translate(100px,100px) skew(30deg) ;
}

